* {
  font-family: 'Lora', serif;
  box-sizing: border-box;
}

header {
  text-align: center;
  height: auto;
  border-style: dotted;
  border-color: orange;
  border-width: 1px;
  padding: 10px 0 0 0;
  /*margin: 0 0 5px 0;*/
}

nav > ul > li{
  display: inline;
  margin: 20px 20px 20px 0;
  padding: 2px;
  border-style: dotted;
  border-color: orange;
  border-width: 1px;
}

main{
  border-style: dotted;
  border-color: orange;
  border-width: 1px;
  /*height: 1000px;*/
  padding: 5px;
  position: relative;
  min-width: 900px;
}

#middle_content{
  border-style: dotted;
  border-color: orange;
  border-width: 1px;
  height: 450px;
  margin: 0 0 5px 0;
  position: relative;
}

#stuff{
  border-style: dotted;
  border-color: orange;
  border-width: 1px;
  width: 30%;
  height: 400px;
  float: left;
}

#map{
  margin-right: 0;
  border-style: dotted;
  border-color: orange;
  border-width: 1px;
  height: 400px;
  width: 600px;
  float: right;

}

#banner{
  border-style: dotted;
  border-color: orange;
  border-width: 1px;
  height: 100px;
  margin: 5px 0 0 0;
  clear: left;
}

footer{
  border-style: dotted;
  border-color: orange;
  border-width: 1px;
  margin: 5px 0 0 0;
  padding: 5px;
  text-align: center;
}

footer > ul > li{
  display: inline;
  margin: 20px 20px 20px 0;
  padding: 2px;
  border-style: dotted;
  border-color: orange;
  border-width: 1px;
}

.clearfix{
  overflow: auto;
}
